<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	
		
<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/users/edit/<%= id %>" method="post" name="form1">
	<div class="col-md-12">
<div class="col-md-3">
		<label>First Name</label>
		
		<input type="text" name="fname" id="fname" value="<%= fname %>" class="form-control"/>
</div>
<div class="col-md-3">
		<label>Last Name</label>
		<input type="text" name="lname" value="<%= lname %>" class="form-control"/>
</div>
<div class="col-md-2">
		<label>Designation</label>
		<input type="text" name="designation" value="<%= designation %>" class="form-control"/>
</div>
<div class="col-md-3">
		<label>Email</label>
		<input type="text" name="email" value="<%= email %>" class="form-control" />
</div>

<div class="col-md-1">
		
		<input style="position: relative;top: 30px;" type="submit" name="Submit" value="Save" />
	    <input  style="position: relative;top: 30px;" type="hidden" name="_method" value="PUT" />
</div>
	</div>
			
	
		
	
			
		 
			
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
